.title_container {
  /* rotate 让标题旋转90度，translate 微调字体位置 */
  transform: rotate(-90deg) translate(-10px, 4px);
  perspective: 500px;
}

.title_text {
  font-family: 'Yeseva One';
  color: black;
  transform: rotateY(64deg);
  font-size: 12rem;
  line-height: 1;
  text-transform: uppercase;
}

.input_text_container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 2.25rem;
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: bold;
}

.input_text_container img {
  height: 1.5rem;
}
